= render 'dreams/header'
.notice-view
  .tab.js-menu-header
    / 하위메뉴 열림 "selected" class 추가
    %button.js-menu-toggle{type: "button"} 지역별 자료집
    %ul
      %li
        = link_to '공통 자료집', dreams_value_path
      %li.selected
        = link_to '지역별 자료집', dreams_data_path
      %li
        = link_to '영상자료', dreams_interview_path
  .c-inner
    %h3 지역별 자료집
    %p 100년 토론광장의 지역별 자료집 입니다
    .list-data
      %ul
        %li
          .a-data{ style: "background-image:url(#{asset_url('data_ks.jpg')})" }
          %a{href: "#"} 보기
        %li
          .a-data{ style: "background-image:url(#{asset_url('data_fu.jpg')})" }
          %a{href: "#"} 보기
        %li
          .a-data{ style: "background-image:url(#{asset_url('data_hj.jpg')})" }
          %a{href: "#"} 보기
        %li
          .a-data{ style: "background-image:url(#{asset_url('data_ch.jpg')})" }
          %a{href: "#"} 보기
        %li
          .a-data{ style: "background-image:url(#{asset_url('data_bt.jpg')})" }
          %a{href: "#"} 보기
    - comments_desc = capture do
      .com-desc
        %p 3.1운동 핵심 가치에 대한 여러분의 생각과 의견을 공유해주세요.
    = render 'comments/panel', commentable: Kommentable.data, desc: comments_desc
