= render 'dreams/header'
.notice-view
  .tab.js-menu-header
    / 하위메뉴 열림 "selected" class 추가
    %button.js-menu-toggle{type: "button"} 영상자료
    %ul
      %li
        = link_to '공통 자료집', dreams_value_path
      %li.selected
        = link_to '영상자료', dreams_interview_path
      %li
        = link_to '지역별 자료집', dreams_data_path
  .c-inner
    %h3 영상자료
    %p 100년 토론광장의 시민들의 영상자료입니다
    .list-video
      %ul
        - video_urls = %w(https://www.youtube.com/embed/rNMaCvqWHCQ https://www.youtube.com/embed/rOyGNcr0s5k https://www.youtube.com/embed/VuRPtxkXdHY)
        - video_urls.each do |video_url|
          - video = VideoInfo.new(video_url)
          %li
            .video.js-dimd-open.cursor-pointer{ 'data-dimd-open-url': video_url, style: "background-image: url(#{video.thumbnail_large});" }
              %button{ type: "button" }
                %span 동영상 열기
      / [02.18] 딤드레이어 추가
      .dimd-wrap.js-dimd-wrap
        .dimd-inner
          .video-layer
            %iframe{ frameborder: "0", allowfullscreen: true }
          %button.js-dimd-close{:type => "button"}
            %span 동영상 레이어 닫기
      / //[02.18] 딤드레이어 추가

    - comments_desc = capture do
      .com-desc
        %p 3.1운동 핵심 가치에 대한 여러분의 생각과 의견을 공유해주세요.
    = render 'comments/panel', commentable: Kommentable.interview, desc: comments_desc
