- content = capture do
  .viewbox
    %h4= @notice.title
    .info
      %span.date
        %i> 날짜
        = static_day_f(@notice.created_at)
      %span.view
        %i> 조회
        = @notice.reads_count
    .cnts
      %p!= @notice.body
    .sns-wrap
      = render 'likes/button', likable: @notice

      %a.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{polymorphic_url(@notice)}", target: '_blank', title: '공유하기'} 공유하기
      .btn.copy-url.cursor-pointer.js-clipboard{'data-clipboard-text': polymorphic_url(@notice)} 주소복사
  .b-btn
    %a.list{href: notices_path(page: params[:page])} 목록
    - if policy(@notice).edit?
      = link_to '수정', [:edit, @notice], class: 'modify'
    - if policy(@notice).destroy?
      = link_to '삭제', @notice, method: :delete, class: 'delete', 'data-confirm': '정말 삭제하시겠습니까?'
  = render 'comments/panel', commentable: @notice

= render 'notices/template', content: content

