.contents-w
  .c-inner
    %h3 참가신청
    %p 100년 토론광장의 국민 참여단 신청안내입니다
    .nat-part
      .desc-box
        %strong
          100년 토론광장은 3‧1운동과 대한민국임시정부 수립과
          %br>/
          지난 100년의 역사에서 우리가 계승할 가치를 찾아보고,
          = succeed "앞으로 우리가 어떤 세상을 만들어야 하는지를 함께 토론하는 국민참여 행사입니다." do
            %br/
        %p 토론 결과는 참가자 명의의 선언서/제안서로 만듭니다.
      .part-cnts
        %div
          %h4 신청시 주의사항
          %div
            %ul
              %li 100년 토론광장은 이 나라 주권자인 우리가 직접 100주년의 의미를 토론하고, 대한민국의 새로운 모습을 그려보는 국민주도의 토론광장입니다.
              %li 참여자는 신청자 중 나이, 성별을 고려하여 무작위로 선발합니다.
              %li 선발 통보 후 무응답 시 불참의사로 간주합니다.
              %li 소정의 참가비가 지급되므로 사전신청자는 참석이 어려울 경우 사전에 반드시 불참 통지를 해주시기 바랍니다.
              %li 거주 지역과 상관없이 원하는 지역에 자유롭게 신청 가능합니다.
              %li 토론의 원활한 진행을 위하여 참가자들은 홈페이지에 게시된 사전자료집을 반드시 읽고 오시기 바랍니다.
        %div
          %h4 신청 지역
          %div
            %ul
              - Suggestion::AREA_DETAIL.each do |area|
                %li
                  = area[:name]
                  - if area[:location].nil? and area[:day].nil?
                    (일시&middot;장소 추후 공지)
                  - else
                    %span>
                      (
                      #{area[:day]} #{area[:time]}
                      \/
                      = area[:location] || '장소 추후 공지'
                      )
        -# %div
          -# %h4 신청방법
          -# %div
            -# %ul
              -# %li 국민제안에 글을 1개 이상 등록합니다.
              -# %li 신청서 항목을 빠짐없이 작성합니다.
            -# %a{href: suggestions_path} 글 등록하기
      / .tip
      /   %h5 작성 팁
      /   %p 국민제안에 글을 등록하신 후 주소 복사 버튼을 누르시면 간편하게 내 글 주소를 입력할 수 있습니다.
      .c-btn{ style: 'margin-top: 40px;' }
        %a{href: application_path, target: '_blank'} 신청서 작성
      .sns-wrap{ style: 'margin-top: 80px;' }
        %a.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{group_url}", target: '_blank', title: '공유하기'} 공유하기
        .btn.copy-url.cursor-pointer.js-clipboard{'data-clipboard-text': group_url} 주소복사
