.top-billboard
  .slides-container.js-slides-container
    .bill-sug
      .cnts
        %strong
          %img{alt: "100년 토론광장", src: asset_url('bill_text.png')}/
        %p
          민국 100년, 그들이 꿈꾼나라,
          = succeed "우리가 만들 세상" do
            %br/
        %div
          %span> 날짜
          2019년 3월~6월
        %a{href: about_path} 100년 토론광장이란?
    .bill-sug.bill2
      .cnts
        %strong
          %img{alt: "우리가 만들 세상", src: asset_url('bill_text02.png')}/
        %p
          새로운 대한민국, 무엇을 해야할까요?
          = succeed "생각을 나눠 주세요!" do
            %br/
        %div
          %a{href: suggestions_path} 의견 작성하기
    .bill-sug.bill3
      .cnts
        %strong
          %img{alt: "그들이 꿈꾼 나라", src: asset_url('bill_text03.png')}/
        %p 3.1운동 및 임시정부수립 100주년
        %div
          %a{href: 'https://www.youtube.com/watch?v=XlQKIdkPDRU&feature=youtu.be', target: '_blank'} 영상보기

%section.apply-box

  %h1.hidden-mobile 100년 토론광장 국민 참여단 신청
  %h1.visible-mobile-block 국민 참여단 신청
  %div
    %h2 신청 안내
    %ul
      %li
        우리 지역을 위한 제안 사전 등록하기
        - if user_signed_in?
          %a{href: new_suggestion_path} 글 등록하기
        - else
          %a{href: new_user_session_path} 글 등록하기
      %li 거주 지역에 상관 없이 원하는 지역에 자유롭게 신청 (중복 지원 가능)
  %ul
    %li
      %strong 강원・인천・수도권
      %span 국민 참여단
      %p 일시: 추후 공지
      %p 장소: 추후 공지
      / %a{href: group_path} 신청
    %li
      %strong 충청권
      %span 국민 참여단
      %p 일시: 추후 공지
      %p 장소: 추후 공지
      / %a{href: group_path} 신청
    %li
      %strong 호남‧제주권
      %span 국민 참여단
      %p 일시: 추후 공지
      %p 장소: 추후 공지
      / %a{href: group_path} 신청
    %li
      %strong 영남권
      %span 국민 참여단
      %p 일시: 추후 공지
      %p 장소: 추후 공지
      / %a{href: group_path} 신청
    %li
      %strong 미래세대
      %span 국민 참여단
      %p 일시: 추후 공지
      %p 장소: 추후 공지
      / %a{href: group_path} 신청
%section.make-w
  %h1 우리가 만들 세상
  %p.hidden-mobile
    앞으로의 100년을 이끌 우리 사회에 필요한 가치, 해결 과제는?
    = succeed "시민 여러분의 생각과 의견을 자유롭게 공유해 주세요." do
      %br/
  %p.visible-mobile-block
    앞으로의 100년을 이끌 우리 사회에
    %br
    필요한 가치, 해결 과제는?
    %br
    시민 여러분의 생각과 의견을 자유롭게
    %br
    공유해 주세요.
  / [0302] 버튼 추가
  .btn
    - if user_signed_in?
      %a{href: new_suggestion_path} 제안하기
    - else
      %a{href: new_user_session_path} 제안하기
  / //[0302] 버튼 추가
  .part-wrap
    %div
      %p
        = link_to suggestions_path do
          전체 참여자수
          %strong= number_with_delimiter(Suggestion.count)
      %p
        = link_to suggestions_path(area: 'FU') do
          미래세대 참여자수
          %strong= number_with_delimiter(Suggestion.where(area: 'FU').count)
    %ul
      %li
        = link_to suggestions_path(area: 'KS') do
          강원‧인천‧수도권
          %em= number_with_delimiter(Suggestion.where(area: 'KS').count)
      %li
        = link_to suggestions_path(area: 'CH') do
          충청권
          %em= number_with_delimiter(Suggestion.where(area: 'CH').count)
      %li
        = link_to suggestions_path(area: 'HJ') do
          호남‧제주권
          %em= number_with_delimiter(Suggestion.where(area: 'HJ').count)
      %li
        = link_to suggestions_path(area: 'BT') do
          영남권
          %em= number_with_delimiter(Suggestion.where(area: 'BT').count)
  - if @suggestion_new.present? and @suggestions.any?
    %ul
      = render @suggestion_new, show_new_badge: true
      - @suggestions.each do |suggestion|
        = render suggestion
  %a{href: suggestions_path}
    %span> 우리가 만들 세상
    더보기
%section.dream
  .inner
    %div
      %h1 그들이 꿈꾼 나라
      %p 3.1운동 자료집과 영상을 보며 미리 토론을 준비할 수 있습니다.
      %ul
        - dream_url_1 = 'https://www.together100.go.kr/lay2/bbs/S1T11C23/G/6/view.do?article_seq=166&cpage=1&rows=8&condition=&keyword='
        %li.js-link.cursor-pointer{ 'data-url': dream_url_1, 'data-link-target': '_blank' }
          .img
            %img{alt: "100년 전 사진", src: asset_url('@thumb_dream_1st.jpg')}/
          %p 100년 전 사진
          %a{href: dream_url_1, target: '_blank'} 영상 보기

        - dream_url_2 = 'https://www.together100.go.kr/lay2/bbs/S1T11C23/G/6/view.do?article_seq=122&cpage=3&rows=8&condition=&keyword='
        %li.js-link.cursor-pointer{ 'data-url': dream_url_2, 'data-link-target': '_blank' }
          .img
            %img{alt: "3·1운동과 임시정부의 역사적 의의", src: asset_url('@thumb_dream_2nd.jpg')}/
          %p 3·1운동과 임시정부의 역사적 의의
          %a{href: dream_url_2, target: '_blank'} 카드뉴스 보기

        - dream_url_3 = 'https://www.together100.go.kr/lay2/bbs/S1T11C23/G/6/view.do?article_seq=123&cpage=3&rows=8&condition=&keyword='
        %li.js-link.cursor-pointer{ 'data-url': dream_url_3, 'data-link-target': '_blank' }
          .img
            %img{alt: "3·1운동과 임정의 지향가치와 국민주권 및 동북아 평화체제", src: asset_url('@thumb_dream.jpg')}/
          %p 3·1운동과 임정의 지향가치와 국민주권 및 동북아 평화체제
          %a{href: dream_url_3, target: '_blank'} 카드뉴스 보기
.notice-wrap
  %div
    %h2 공지사항
    %p 100년 토론광장 공지를 알려드립니다
    - if @notices.any?
      %ul
        - @notices.each do |notice|
          %li
            = link_to notice do
              = notice.title
              %span= static_day_f notice.created_at
  %div
    %h2 자주 하는 질문 (FAQ)
    %p 100년 토론광장 자주하시는 질문입니다
    - if @notices.any?
      %ul
        - @faqs.each do |faq|
          %li
            %a{href: faq_path(id: faq[:id], anchor: "anchor-faq-#{faq[:id]}")}= faq[:q]
%section.news
  .inner
    %h1 최신 소식
    %p 민국 100년, 그들이 꿈꾼나라, 우리가 만들 세상의 새소식을 알려드립니다
    - if @stories.any?
      %ul
        - @stories.each_with_index do |story, index|
          %li.cursor-pointer.js-link{ class: "index-#{index}", 'data-url': story_path(story) }
            - if index == 0
              %span.new
                %span 신규
              - if story.image?
                .img{ style: "background-image: url(#{story.image.lg.url});" }
              - else
                .img
                  %img{alt: "", src: asset_url('@thumb_news.jpg')}/
              .info
                %span.date
                  %i> 날짜
                  = static_day_f(story.created_at)
                %span.like
                  %i> 좋아요
                  = story.likes_count
                %span.comment
                  %i> 댓글
                  = story.comments_count
              %p= story.title
              %a 더보기
            - else
              %p= story.title
              .info
                %span.date
                  %i> 날짜
                  = static_day_f(story.created_at)
                %span.like
                  %i> 좋아요
                  = story.likes_count
                %span.comment
                  %i> 댓글
                  = story.comments_count
              %a 더보기
/ .partner
/   %div
/     %h2 주최
/     %ul
/       %li
/         %a(href="")
/           %img{alt: "100년 토론광장", src: asset_url('logo_100.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "서울특별시", src: asset_url('logo_seoul.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "광주광역시", src: asset_url('logo_gwangju.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "화성시", src: asset_url('logo_hscity.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "휴먼시티수원", src: asset_url('logo_suwon.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "인천광역시", src: asset_url('logo_incheon.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "대전광역시", src: asset_url('logo_daejeon.gif')}/
/   %div
/     %h2 후원
/     %ul
/       %li
/         %a(href="")
/           %img{alt: "MBC", src: asset_url('logo_mbc.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "sk하이닉스", src: asset_url('logo_skh.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "SBS", src: asset_url('logo_sbs.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "EBS", src: asset_url('logo_ebs.gif')}/
/       %li
/         %a(href="")
/           %img{alt: "한글과 컴퓨터", src: asset_url('logo_hancom.gif')}/
