- content = capture do
  .viewbox
    %h4= @story.title
    .info
      %span.date
        %i> 날짜
        = static_day_f(@story.created_at)
      %span.view
        %i> 조회
        = @story.reads_count
    .cnts
      %p!= @story.body
      - if @story.image?
        .img-wrap
          = image_tag @story.image.url
    .sns-wrap
      = render 'likes/button', likable: @story

      %a.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{polymorphic_url(@story)}", target: '_blank', title: '공유하기'} 공유하기
      .btn.copy-url.cursor-pointer.js-clipboard{'data-clipboard-text': polymorphic_url(@story)} 주소복사
  .b-btn
    %a.list{href: stories_path(page: params[:page])} 목록
    - if policy(@story).edit?
      = link_to '수정', [:edit, @story], class: 'modify'
    - if policy(@story).destroy?
      = link_to '삭제', @story, method: :delete, class: 'delete', 'data-confirm': '정말 삭제하시겠습니까?'
  = render 'comments/panel', commentable: @story

= render 'stories/template', content: content

