- suggestion ||= (@suggestion || Suggestion.new)
= form_with model: suggestion do |f|
  .write-box
    %ul
      %li
        = f.label :area do
          지역
          %span *
        = f.select :area, Suggestion.area_options, { include_blank: '지역을 선택해주세요' }, 'aria-required': 'true'
      %li
        = f.label :category do
          분야
          %span *
        = f.select :category, Suggestion.category_options, { include_blank: '제안 분야를 선택해주세요' }, 'aria-required': 'true'
      %li
        = f.label :title do
          제목
          %span *
        = f.text_field :title, 'aria-required': 'true'
      %li
        = f.label :body do
          내용
          %span *
        = f.text_area :body, class: 'tinymce js-tinymce', 'aria-required': 'true'
      %li
        %em 썸네일
        .file-wrap
          = f.file_field :image, class: 'input-decorated'
          = f.label :image, '파일첨부'
          = f.text_field :image_title, title: "첨부파일명", readonly: true, class: 'js-upload-file-title', 'data-upload-file-titie-target-name': 'suggestion[image]'
        %p 권장 사이즈 000 X 000
        - if suggestion.read_attribute(:image).present?
          .help-block
            = image_tag suggestion.image.lg.url, style: 'max-width: 100px; vertical-align: bottom'
            = f.check_box :remove_image
            = f.label :remove_image do
              삭제하기
      %li
        = f.label :raw_hashtags do
          해시태그
          %span *
        = f.text_field :raw_hashtags, 'aria-required': 'true'
        %p 예: #우리가만들세상 #100년토론광장
  .def-btn
    %a{href: suggestions_path} 목록
    = f.submit (f.object.persisted? ? "수정" : "저장"), class: 'active'

