- suggestion ||= (@suggestion || Suggestion.new)
= form_with model: suggestion do |f|
  .write-box
    %ul
      %li
        = f.label :area_code do
          지역
          %span *
        = f.select :area_code, Suggestion.area_options, { include_blank: '지역을 선택해주세요' }, 'aria-required': 'true'
      %li
        = f.label :category do
          분야
          %span *
        = f.select :category, Suggestion.category_options, { include_blank: '제안 분야를 선택해주세요' }, 'aria-required': 'true'
      %li
        = f.label :title do
          제목
          %span *
        = f.text_field :title, 'aria-required': 'true'
      %li
        = f.label :body do
          내용
          %span *
        = f.text_area :body, class: 'tinymce js-tinymce', 'aria-required': 'true'
      %li
        = f.label :raw_hashtags do
          해시태그
        = f.text_field :raw_hashtags, 'aria-required': 'true'
        %p 예: #우리가만들세상 #100년토론광장
  .def-btn
    %a{href: suggestions_path} 취소
    = f.submit (f.object.persisted? ? "수정" : "등록"), class: 'active'

