%li.cursor-pointer.js-link{ 'data-url': suggestion_path(suggestion, page: params[:page], q: params[:q], area_code: params[:area_code], category: params[:category]) }
  - if local_assigns[:show_new_badge]
    .new
      %span 신규
  .cate
    %span= suggestion.area_name
    %span= suggestion.category_name
  %p= suggestion.title
  .info
    %span.writer
      %i> 작성자
      = suggestion.user_name
    %span.like
      %i> 좋아요
      = suggestion.likes_count
    %span.comment
      %i> 코멘트
      = suggestion.comments_count
  %a{href: suggestion_path(suggestion, page: params[:page], q: params[:q], area_code: params[:area_code], category: params[:category])} 더 보기
