- content = capture do
  .suggest-list
    .list-search
      .sch-box
        %span
          %select.js-select-link{title: "지역선택"}
            %option{ selected: params[:area].blank?, 'data-url': suggestions_path(area: nil, category: params[:category], q: params[:q]) } 지역별
            = Suggestion.area_options.each do |code, name|
              %option{ selected: (code.to_s == params[:area]), 'data-url': suggestions_path(area: code, category: params[:category], q: params[:q]) }= name
        %span
          %select.js-select-link{title: "분야선택"}
            %option{ selected: params[:category].blank?, 'data-url': suggestions_path(area: params[:area], category: nil, q: params[:q]) } 분야별
            = Suggestion::CATEGORY_CODE.each do |code, name|
              %option{ selected: (code.to_s == params[:category]), 'data-url': suggestions_path(area: params[:area], category: code, q: params[:q]) }= name

        %div
          = form_with url: suggestions_path(area: params[:area], category: params[:category]), method: :get do |f|
            %input{name: :q, value: params[:q], title: "검색어를 입력해주세요", type: "search"}/
            %button{type: "submit"}
              %span 게시물 검색
      %p
        - if @suggestion_user.present?
          #{@suggestion_user.name} 제안
          = succeed "건" do
            %em= Suggestion.where(user: @suggestion_user).count
          \/
          = link_to suggestions_path do
            전체보기
        - else
          = link_to suggestions_path do
            전체 제안
            = succeed "건" do
              %em= Suggestion.count
    %ul
      - @suggestions.each do |suggestion|
        = render suggestion
    = paginate @suggestions

= render 'suggestions/template', content: content
