- content = capture do
  .viewbox
    .cate
      = link_to suggestions_path(area: @suggestion.area) do
        %span= @suggestion.area_name
      = link_to suggestions_path(category: @suggestion.category) do
        %span= @suggestion.category_name
    %h4= @suggestion.title
    .info
      %span.writer
        %i> 작성자
        = @suggestion.user.name
      %span.date
        %i> 날짜
        = static_day_f(@suggestion.created_at)
      %span.view
        %i> 조회
        = @suggestion.reads_count
    .cnts
      %p!= @suggestion.body
      - if @suggestion.image?
        .img-wrap
          = image_tag @suggestion.image.url
      - if @suggestion.hashtags.any?
        .tag-box
          - @suggestion.hashtags.each do |hashtag|
            = link_to "##{hashtag.name}", suggestions_path(q: "##{hashtag.name}")
    .sns-wrap
      = render 'likes/button', likable: @suggestion
      %a.facebook{href: "https://www.facebook.com/sharer/sharer.php?u=#{polymorphic_url(@suggestion)}", target: '_blank', title: '공유하기'} 공유하기
      .btn.copy-url.cursor-pointer.js-clipboard{'data-clipboard-text': polymorphic_url(@suggestion)} 주소복사
  .b-btn
    %a.list{href: suggestions_path(page: params[:page], q: params[:q], area: params[:area], category: params[:category])} 목록
    - if policy(@suggestion).edit?
      = link_to '수정', [:edit, @suggestion], class: 'modify'
    - if policy(@suggestion).destroy?
      = link_to '삭제', @suggestion, method: :delete, class: 'delete', 'data-confirm': '정말 삭제하시겠습니까?'
  = render 'comments/panel', commentable: @suggestion

= render 'suggestions/template', content: content
